<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classement</title>
    <link rel="stylesheet"  href="/static/css/Ranking.css?{% now 'U' %}">
    <link rel = "shortcut icon" href="{% static 'images/logo-for-title.png' %}">
</head>
<body>
    <div class="navbar">
        <div class="left-div">
            <img src="{% static 'images/logo-image.png' %}" class="logo-image">
            <h3 class="title">PROBLEM SOLVING COMPETITION</h3>
            <h3 class="subtitle">Sustainable development through computer science</h3>
        </div>
        <div class="right-div">
            <li><a href="{% url 'home' %}" class="link">Accueil</a></li>
            <li><a href="{% url 'ranking' %}" class="link">Classement</a></li>
            <li><a href="{% url 'logout' %}" class="link">Se déconnecter</a></li>
        </div>
    </div>

    <div class="container">
        <header>
    <h1>Classement</h1>
        </header>
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Equipe</th>
                        <th>Score</th>
                        <th>Premier étudiant</th>
                        <th>Deuxième étudiant</th>
                        <th>Nombre de tests</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    {% if forloop.counter <= pass %}
                    <tr class="pass">
                    {% else %}
                    <tr class="exclu">
                    {% endif %}
                        <td class="rank">{{forloop.counter}}</td>
                        <td class="team">{{participant.Username}}</td>
                        <td class="score">{{participant.Score}}</td>
                        <td class="prob">{{participant.First_Student_Name}}</td>
                        <td class="prob">{{participant.Second_Student_Name}}</td>
                        <td class="test">{{participant.Number_Of_Tests}}</td>
                        {% if forloop.counter <= pass %}
                        <td class="icon"><img src="{% static 'images/tr.png' %}" alt="trophy" width="20px"></td>
                        {% else %}
                        <td class="icon"><img src="{% static 'images/ar.png' %}" alt="exclu" width="20px"></td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
<style>
    .exclu:hover{
    /*transform: scale(1.06);*/
    background: #ed0000;

}
</style>
</html>