
* {
  box-sizing: border-box;
}


html {
  margin: 0 0 0 0;
  width:100%;
  height: 100%;                       /* note #1 */
}
body{
margin: 0 0 0 0;
width:100%;
height:100%;
font-family: 'Lato', Arial, sans-serif;
 color: #989c9b;
}


.navbar{
  background-color: #574f57;
  width:100%;
  height:5.2vw;
  list-style-type: none;
  position: relative;
}


.left-div{
    margin-left:3%;
    padding: 0 0;
    margin-top:0;
    height:100%;
    width:40%;
    float:left;
    margin-right:15%;
}
.logo-image{
height:100%;
width:35%;
float: left;
}

.title{
    margin:0 0 0 0;
    padding-top:1.1vw;
    font-size:1.5vw;
    color:white;
    font-family:arial;

}
.subtitle{
    margin:0 0 0 0;
    padding-top:1px;
    font-size:1vw;
    color:white;
    font-family:arial;

}

.right-div{
width:42%;
height:100%;
margin-left:58%;
}
li a:hover {
  color: #989c9b;
  text-decoration: underline;
}

li a {
  float:left;
  color: white;
  font-size:1.5vw;
  font-family:arial;
  text-align: center;
  padding:0 6%;
  text-decoration: none;
  font-weight: bold;
  margin-top:1.4vw;
}

.simulation-problem{
width:45%;
height: calc(100% - 5.2vw);
overflow-y:auto;
float:left;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5b6;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
#sketch{
width:100%;
}
.problem-image{
width: 100%;
height: auto;
}

.coding{
width:55%;
float:right;
height: calc(100% - 5.2vw);
}
.info{
    width:100%;
    background:#a5a5b6;
    height:2.8vw;
}

#max-score{
     color:black;
      font-size:1.4vw;
      font-family:arial;
      margin-left:5%;
      margin-top:0.6vw;
      margin-bottom:0px;
      font-weight: bold;
      float:left;
}

#game-name{
      color:black;
      font-size:1.4vw;
      font-family:arial;
      margin-left:20%;
      margin-top:0.6vw;
      margin-bottom:0px;
      font-weight: bold;
      float:left;
}

.languages{
    background:#464d56;
    margin-top:0.6vw;
    margin-right:5%;
    font-size: 1.3vw;
    font-weight: 700;
    color: #1a99aa;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 15%;
    display: inline-block;
    float:right;
}
.editor{
    width:100%;
    height:29.3vw;
    font-size:1.2vw;
}

.test-zone{
    width:100%;
    height: calc(100% - 29.3vw - 2.8vw);
    overflow-y:auto;
    border:solid 1px;
}


.lunch {
height:80%;
width:11.5vw;
margin-top:0.5%;
margin-bottom:0%;
background-color:#574f57;
font-size:1vw;
color:white;
font-weight:bold;
margin-left:7.5vw;
border: 0;
border-radius: 100px;
cursor: pointer;
}

#lunch{
margin-left:8.3vw;

}
.lunch:hover{
  background-color: #573c08;
  color: #ffffff;
}

.test-ids{
width:30%;
float:left;
height:100px;
margin-top:0;
text-align:center;
}

.sample-test{
color:green;
font-size:1.5vw;
padding-top:0.2vw;
cursor:pointer;
}
.running-zone{
margin-left:30%;
border:solid 1px;
}
.wrapper {
  line-height: 1.5vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

th {
    background-color: #574f57;
    font-weight: bold;
    color: #fff;
    font-size:1vw;
    white-space: nowrap;
    padding: 0.6em 5.5em;
}

td{
    padding: 0.7vw 7.6vw;
    text-align: left;
    font-size:1vw;
}

tbody th {
  background-color: #2ea879;
}

.Total{
width:100%;
height:3vw;
background:#a5a5b6;
}

#pourcentage-total,
#score-total{
font-family:arial;
font-size:1.3vw;
font-weight: bold;
float:left;
margin-left:1%;
margin-top:1.5%;
margin-bottom:0%;
}

#pourcentage-total{
margin-left:4%;
}

.block{
  margin: 1vw;

}

.span{
    font-size:1.4vw;
    margin:0;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 0.5vw;
    font-size:1.4vw;
    margin:0;
}





